.logo-around{
    border-radius: 50%;
}
.bg-white{
    background-color: #fefefe;
}
.sign-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
        flex: 1;
        .title {
            padding-top: 70px;
            img {
                width: 100px;
            }
        }
    }
    .login-container {
        flex: 2
    }

    .form {
        background: none;
        max-width: 320px;
        margin: 0 auto;

        ion-item {
            --background: #63869b;
            --border-radius: 4px;
            --border-color: transparent !important;
            --highlight-height: 0;
            color: #FAFAFA;
            margin-bottom: 15px;

            ion-icon {
                color: #FAFAFA;
            }
        }
    }

    .sign-up-container {
        position: absolute;
        bottom: 0;
        height: 50px;
        width: 100%;
        padding-top: 15px;
        transition: all 1s;
        border-radius: 0px;
        overflow: hidden;

        &.active {
            height: calc(100% - 40px);
        }
        
        .toggle-text {
            color: #FAFAFA;
            font-size: 16px;
            margin-bottom: 30px;
        }

        .form {
            ion-item {
                --background: rgba(7,34,58,1);
            }
        }
    }
}

.gradient-1 {
    --background: linear-gradient(180deg, rgba(7,34,58,1) 0%, rgba(17,84,143,1) 100%);
    background: linear-gradient(180deg, rgba(7,34,58,1) 0%, rgba(17,84,143,1)  100%);
}
.gradient-2 {
    --background: linear-gradient(180deg, rgba(131,60,65,1) 0%, rgba(143,66,71,1) 100%);
    background: linear-gradient(180deg, rgba(131,60,65,1) 0%, rgba(143,66,71,1) 100%);
}

.green-button {
    --background: rgba(131,60,65,1);
    color: #FFF;
}
.gray-button {
    --background: rgba(7,34,58,1);
    color: #FFF;
}

.fade-in {
    animation: fadein 2s;
}
.fade-out {
    animation: fadeout 1s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}