<ion-content>
    <div class="sign-container bg-white">

        <div class="header">
            <div class="title ion-text-center">
                <img src="../../../../assets/logo.jpeg" class="logo-around" alt="">
            </div>
        </div>

        <div class="login-container">

            <ion-list lines="none" class="form fade-in">
                <ion-item>
                    <ion-label>Email</ion-label>
                    <ion-input class="ion-text-right"></ion-input>
                    <ion-icon slot="end" name="mail"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>Password</ion-label>
                    <ion-input type="password" class="ion-text-right"></ion-input>
                    <ion-icon slot="end" name="lock-closed"></ion-icon>
                </ion-item>
            </ion-list>

            <div class="ion-text-center fade-in">
                <ion-button class="green-button">
                    Login
                </ion-button>
            </div>

        </div>

        <div class="sign-up-container gradient-2" [ngClass]="{'active': signupView}">

            <div class="toggle-text ion-text-center" tappable (click)="toggleSignUpView()">

                <span *ngIf="!signupView" [ngClass]="{'fade-in': !signupView, 'fade-out': signupView}">Registrate</span>
                <span *ngIf="signupView" [ngClass]="{'fade-in': signupView, 'fade-out': !signupView}">Login</span>
                <br>
                <ion-icon name="arrow-round-up" *ngIf="!signupView"
                    [ngClass]="{'fade-in': !signupView, 'fade-out': signupView}"></ion-icon>
                <ion-icon name="arrow-round-down" *ngIf="signupView"
                    [ngClass]="{'fade-in': signupView, 'fade-out': !signupView}"></ion-icon>

            </div>

            <ion-list lines="none" class="form" [ngClass]="{'fade-in': signupView, 'fade-out': !signupView}">
                <ion-item>
                    <ion-label>Nombre</ion-label>
                    <ion-input [(ngModel)]="register.nombre" class="ion-text-right"></ion-input>
                    <ion-icon slot="end" name="person"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>Apellido</ion-label>
                    <ion-input [(ngModel)]="register.apellido" class="ion-text-right"></ion-input>
                    <ion-icon slot="end" name="person"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>Telefono</ion-label>
                    <ion-input type="number" [(ngModel)]="register.telefono" class="ion-text-right"></ion-input>
                    <ion-icon slot="end" name="call"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>Email</ion-label>
                    <ion-input type="email" [(ngModel)]="register.email" class="ion-text-right"></ion-input>
                    <ion-icon slot="end" name="mail"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>Password</ion-label>
                    <ion-input type="password" [(ngModel)]="register.password" class="ion-text-right"></ion-input>
                    <ion-icon slot="end" name="lock-closed"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>Grupo</ion-label>
                    <ion-select okText="Ok" [(ngModel)]="register.grupo_id" cancelText="Cancelar">
                        <ion-select-option [value]="grupo.id" *ngFor="let grupo of groups">{{grupo.nombre}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>

            <div class="ion-text-center" [ngClass]="{'fade-in': signupView, 'fade-out': !signupView}">
                <ion-button (click)="onSingUp()" class="gray-button">
                    Registrate
                </ion-button>
            </div>

        </div>

    </div>
</ion-content>